header{
    display: flex;
    padding: 0.5rem 1rem;
    background-color: #f8e80b;
    justify-content: center;
    align-items: center;
}

header h1{
    position: absolute;
    font-size: 2rem;
    color: black;
    text-align: center;
}

.to_classification_btn{
    margin-right: auto;
    font-size: 1rem;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 2rem;
	transition: .4s;
    margin-left: 0.5rem;
}
.to_classification_btn:hover {
	background: #EC407A;
	color: #fff;
}

#table{
    margin: 0.5rem;
}

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 0.8em;
}
.table th {
    padding: 10px;
    background: #e9faf9;
    border: solid 1px #778ca3;
}
.table td {
    padding: 10px;
    border: solid 1px #778ca3;
}

#table h2{
    text-align: center;
    margin: 1rem;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn a{
    font-size: 1rem;
	padding: 0.6em;
	text-align: center;
	text-decoration: none;
	color: #EC407A;
	border: 2px solid #EC407A;
	border-radius: 2rem;
	transition: .4s;
    margin: auto;
}
.btn a:hover {
	background: #EC407A;
	color: #fff;
}